<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Today's Bookings
<div>
    <table border="1">
        <thead>
        <tr>
            <td>Sr No</td>
            <td>Room Name</td>
            <td>Team Name</td>
            <td>Start Time</td>
            <td>End Time</td>
        </tr>
        </thead>
        <tbody>
        #foreach($booking in $bookings)
            <tr>
                <td>$foreach.count</td>
                <td>$booking.roomName</td>
                <td>$booking.teamName</td>
                <td>$dates.format($booking.startTime, 'dd-MM-yyyy h:mm a')</td>
                <td>$dates.format($booking.endTime, 'dd-MM-yyyy h:mm a')</td>
            </tr>
        #end
        </tbody>
    </table>
</div>
</body>
</html>